<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig"
             type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Sales.Contracts" Endpoint="Sales" />
      <add Assembly="Shipping" Namespace="Shipping.Messages.FedEx" Endpoint="FedEx.Gateway" />
      <add Assembly="Shipping" Namespace="Shipping.Messages.Ups" Endpoint="Ups.Gateway" />
      <add Assembly="Billing.Contracts" Endpoint="Billing" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>
